body{
    font-family: sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    pudding: 50px;
}

.cotainer{
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(red, green, blue, alpha);
    width: 300px;
}

form{
    display:flex;
    flex-direction: column;
    gap: 10px;
}

input, button{
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button{
    background-color: aqua;
    color: white;
    cursor: pointer;
    border: none;
}

button:hover{
    background-color: #218838;
}

ul{
    list-style: none;
    padding: 0;
}

li{
    background: #eee;
    margin-top: 5px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
}
